.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: "LondrinaSolid-Regular", Times, serif;
  font-weight: 400;
  font-size: 48px;
  width: 100%;
  background: rgba(0, 0, 0, 1);
  position: fixed;
  z-index: 100;
}

.header__logo {
  border-radius: 45px;
  margin: 10px;
  width: 192px;
  height: 192px;
}

.header__date {
  margin: 26px;
  color: rgba(255, 255, 255, 1);
  font-family: "LondrinaSolid-Light", Times, serif;
  font-weight: 300;
  font-size: 36px;
  position: relative;
  width: 100%;
  text-align: right;
}

.header__navigation-profile-button {
  background-color: rgba(0, 0, 0, 1);
  color: blue;
  margin-left: 26px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
}

.header__add-class-button {
  background: none;
  border: none;
  font-family: "LondrinaSolid-Light", Times, serif;
  font-weight: 300;
  font-size: 48px;
  cursor: pointer;
}

.header__logout-button {
  background-color: rgba(0, 0, 0, 1);
  color: yellow;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
  margin-left: 26px;
}

.header__member-button-section {
  margin-left: auto;
  margin-right: 26px;
}

.header__button-section {
  margin-left: auto;
  margin-right: 26px;
}

.header__login-button {
  background-color: rgba(0, 0, 0, 1);
  color: yellow;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
}

.header__join-button {
  background-color: rgba(0, 0, 0, 1);
  color: blue;
  margin-left: 26px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
}
