.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 32px 0 28px;
  font-family: "LondrinaSolid-Regular", Times, serif;
  font-weight: 400;
  font-size: 48px;
  width: 100%;
  background: rgba(0, 100, 10, 0.5);
}

.header__logo {
  border-radius: 45px;
  margin-right: 26px;
  margin-left: 26px;
  width: 256px;
  height: 256px;
}

.header__date {
  margin: 26px;
  color: rgba(190, 0, 5, 1);
  font-family: "LondrinaSolid-Light", Times, serif;
  font-weight: 300;
  font-size: 48px;
}

.header__navigation-profile-button {
  background-color: rgba(0, 0, 0, 1);
  color: white;
  margin-left: 26px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
}

.header__add-class-button {
  background: none;
  border: none;
  font-family: "LondrinaSolid-Light", Times, serif;
  font-weight: 300;
  font-size: 48px;
  cursor: pointer;
}

.header__logout-button {
  background-color: rgba(0, 0, 0, 1);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
  margin-left: 26px;
}

.header__member-button-section {
  margin-left: auto;
  margin-right: 26px;
}

.header__button-section {
  margin-left: auto;
  margin-right: 26px;
}

.header__login-button {
  background-color: rgba(0, 0, 0, 1);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
}

.header__join-button {
  background-color: rgba(0, 0, 0, 1);
  color: white;
  margin-left: 26px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
}
